:host {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  max-height: 5rem;
  box-shadow: 0 0 5px ghostwhite;
  min-width: 16rem;
  /* --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}
