<div #content class="content">
  <app-header>
    <app-search-input
      input-search1
      class="hidden max-w-[16rem] sm:block"
    ></app-search-input>
  </app-header>
  <div
    class="relatvie flex flex-col items-center max-w-[80%] mx-auto justify-center min-w-[16rem] min-h-[calc(100vh-136px)]"
  >
<!--    <app-search-input-->
<!--      class="sticky top-[5rem] my-4 z-20 min-[670px]:hidden"-->
<!--    ></app-search-input>-->

    <router-outlet></router-outlet>
  </div>

  <ng-container *ngIf="showTrack$ | async">
    <audio-player
      class="fixed translate-x-[-50%] left-[50%] bottom-[6vh] z-[1000]"
    ></audio-player>
  </ng-container>
</div>

<modal>
  <div class="projected-content">
    <ng-container *ngIf="selectedTrack$ | async as selectedTrack">
      <app-track [track]="selectedTrack"></app-track>
    </ng-container>
  </div>
</modal>
