:host{
  min-width: 16rem;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.content {
  min-height: 100vh;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 200ms ease-out;
}

