
<div
  *ngIf="!loading"
  (click)="onPreview()"
  class="relative w-[16rem] h-[450px] rounded-lg shadow-2xl border-2 border-gray-300 font-semibold transition ease-linear duration-300 overflow-hidden hover:scale-[103%] hover:cursor-pointer hover:border-green-500 group"
  [ngClass]="{
    'border-2 scale-[103%] border-green-300': track.isPreviewVisible
  }"
>
  <img [src]="track.cover" loading="lazy" class="bg-cover"  alt="Track Cover"/>
  <p
    (click)="onViewTrack($event)"
    class="group-hover:scale-[100%] text-[1rem] p-3 text-gray-800">
    {{ track.title }}
  </p>
  <div
    class="group-hover:scale-[100%] p-3 text-[14.5px] font-sans font-['Libre Baskerville']"
  >
    <span
      class="text-gray-800"
      *ngFor="let artist of track.artists; let i = index"
    >
      <span
        (click)="onViewArtist($event, artist)"
        class="hover:text-green-600 hover:cursor-pointer hover:underline"
      >
        <a class="block" *ngIf="i <= 2">{{ artist.name }}</a>
      </span>
    </span>
      <span class="block font-bold text-xl" *ngIf="track.artists.length > 3">. . .</span>
  </div>
</div>

<!-- Skeleton loader for the track -->
<!--<skeleton-loader-->
<!--   *ngIf="loading"-->
<!--  [width]="16"-->
<!--  [height]="100"-->
<!--  [loading]="loading"-->
<!--&gt;</skeleton-loader>-->
