
<div
  *ngIf="!loading"
  (click)="onPreview()"
  class="relative w-[16rem] h-[450px] rounded-lg shadow-2xl border-2 border-gray-300 font-semibold transition ease-linear duration-300 overflow-hidden hover:scale-[103%] hover:cursor-pointer hover:border-green-500 group"
  [ngClass]="{
    'border-2 scale-[103%] border-green-300': track.isPreviewVisible
  }"
>
  <img [src]="track.cover" loading="lazy" class="bg-cover" />
  <p class="group-hover:scale-[100%] text-[1rem] p-3 text-gray-800">
    {{ track.title }}
  </p>
  <div
    class="group-hover:scale-[100%] p-3 text-[14.5px] font-sans font-['Libre Baskerville']"
  >
    <span
      class="text-gray-800"
      *ngFor="let artist of track.artists; let i = index"
    >
      <span
        (click)="onViewArtist($event)"
        class="hover:text-green-600 hover:cursor-pointer hover:underline"
      >
        <a *ngIf="formatArtist(artist.name, i).length != 0" class="block">{{
          formatArtist(artist.name, i)
        }}</a>
      </span>
    </span>
  </div>
</div>

<!-- Skeleton loader for the track -->
<skeleton-loader
   *ngIf="loading"
  [width]="16"
  [height]="100"
  [loading]="loading"
></skeleton-loader>
